<chkt-header></chkt-header>

<div class="container-fluid section-container" id="riesgos-container" role="main">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 content-col">

			<div ng-repeat="riesgo in riesgos.riesgos">
				<div class="row riesgo">
					<div class="col-xs-4">
						<h4>{{ riesgo.etiqueta }}</h4>
					</div>
					<div class="col-xs-7 slider-col">
						<chkt-slider fill-percentage="riesgo.riesgo * 10" fill-color="riesgo.color"></chkt-slider>
					</div>
					<div class="col-xs-1 text-center">
						<i class="fa {{ riesgo.show ? 'fa-angle-down' : 'fa-angle-right' }} show-icon" ng-click="riesgo.show = !riesgo.show"></i>
					</div>
				</div>
				<div class="row descripcion" ng-show="riesgo.show">
					<div class="col-xs-10 col-xs-offset-1 text-center">
						<p>{{ riesgo.descripcion }}</p>
						<a href="{{ riesgo.link }}" class="link-button">
							<div>Tips sobre esta enfermedad</div>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 full-width">
			<chkt-footer></chkt-footer>
		</div>
	</div>
</div>
